<link type="text/css" href="{{ 'press.css' | asset_url }}" rel="stylesheet">
<div class="pressHeader">
  <h2>PRESS</h2>
  <img class="desktopVersion" src="{{ 'Press_Product_Shoot_Aug 23-36_desktop.jpg' | asset_url }}">
  <img class="mobileVersion" src="{{ 'Press_Product_Shoot_Aug 23-36.jpg' | asset_url }}">
</div>
{% comment %}
  <div class="titleBackground">
    <h2>{{ page.title }}</h2>
  </div>
{% endcomment %}

{{ page.content }}

<div class="contactCatalogueContainer container">
  <div class="contactUsContainer">
    <p>Get in touch and email us here:</p>
    <a href="mailto:press@gingerfox.co.uk" class="GingerfoxButton">press@gingerfox.co.uk</a>
  </div>
  <div class="catalogueContainer">
    <div class="catalogueContent">
      <p>Want to see our lastest catalogue?</p>
      <a href="https://indd.adobe.com/view/b3cc2e6c-67e5-4886-b734-0d460eaa182a" class="GingerfoxButton m-auto"
        >View Here</a
      >
    </div>
  </div>
</div>
